@model SalesWebMvc.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>
    Sellers
</h4>
<hr /> <!--Linha-->
<div class="row"> <!--row do bootstrap garante que o div ocupe a linha inteira/largura da tela-->
    <div class="col-md-4">
        <!--Formulário ocupando 1/3 da tela, bootstrap divide a tela em 12 partes-->
        <form asp-action="Create">
            <!--Formulário htm, chama ação Create do método post-->
            <div class=" form-group">
                <label asp-for="Seller.Name" class="control-label"></label> <!--Define o lable que irá aparecer ao digitar (label asp-for=Name)-->
                <input asp-for="Seller.Name" class=" form-control" />
            </div>
            <div class=" form-group">
                <label asp-for="Seller.Email" class="control-label"></label> <!--Define o lable que irá aparecer ao digitar (label asp-for=Name)-->
                <input asp-for="Seller.Email" class=" form-control" />
            </div>
            <div class=" form-group">
                <label asp-for="Seller.BirthDate" class="control-label"></label> <!--Define o lable que irá aparecer ao digitar (label asp-for=Name)-->
                <input asp-for="Seller.BirthDate" class=" form-control" />
            </div>
            <div class=" form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label> <!--Define o lable que irá aparecer ao digitar (label asp-for=Name)-->
                <input asp-for="Seller.BaseSalary" class=" form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <!--select asp-for - caixa de seleção-->
                <select asp-for="Seller.DepartmentId"
                        asp-items="@(new SelectList(Model.Departments,"Id", "Name"))" class="form-control"></select> <!--Seleciona(SelectList) dados da lista de departaments(Model.Departments), "ID"-campo chave tabela banco, "Name"-display do campo-->
            </div>
            <div class=" form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>        
    </div>
</div>
